<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/nav %>
    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="/img/logo.png" alt="Weed Logo" class="animated bounceIn">
            </div>
        </header>
    </div>

    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-md-6">
                <i class="fas fa-fire-alt fa-10x"></i>
            </div>

            <div class="col-md-6">
                <h3><b>Let's Go !</b></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt perspiciatis explicabo distinctio, reiciendis maiores nostrum fugiat recusandae vitae saepe error esse velit quisquam totam, quam nulla hic reprehenderit deleniti veniam.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores hic temporibus quis fugiat tenetur ipsam quidem omnis ratione reiciendis exercitationem autem impedit quasi, rerum magni natus perferendis animi saepe nulla.
                </p>
            </div>
        </div>
        <div class="row bg-dark text-white p-4 text-center">
            <div class="col-lg-12">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga enim quod voluptatum dignissimos. Voluptatum iure laborum expedita. Id doloribus quod minus praesentium deleniti totam, explicabo voluptate ipsum dolores, pariatur asperiores.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam tempora asperiores ullam mollitia dolorem blanditiis maiores. Corrupti incidunt, commodi debitis quod, sint ullam quas sit quidem culpa nisi harum quasi!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum, commodi maxime? Animi sed blanditiis, doloremque cumque cupiditate molestiae, quidem placeat est ratione dolores rem voluptatum adipisci iste id iure numquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, nemo reprehenderit voluptatum, corporis aliquam inventore deserunt facilis sunt neque excepturi debitis accusamus doloribus eveniet soluta delectus? Dolore debitis assumenda cupiditate.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae molestiae repellat nesciunt beatae voluptas quis optio ex! Perspiciatis non ipsam reiciendis consequatur vero maxime nobis. Praesentium voluptas maxime neque repellendus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui odit non labore voluptate blanditiis inventore odio! Omnis assumenda in aliquam expedita provident dolor, earum repellendus corrupti error possimus mollitia nam.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio ea hic quaerat, distinctio atque eligendi sequi assumenda rerum accusamus deleniti sit amet harum dolores at labore necessitatibus deserunt! Alias, quas!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, nulla. Accusantium, quam minima. Voluptatem esse quaerat modi aperiam eos, quam ea molestiae iste dolor reprehenderit nihil recusandae sit at facilis?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, sequi velit assumenda delectus, temporibus laudantium, enim et voluptas nesciunt quam culpa reiciendis fuga animi. Itaque dolores totam soluta. Dolor, magnam.
            </div>
        </div>
    </div>

    <% include partials/footer %>
</body>

</html>